<div [style.height.px]="screenHeight" style="position: relative; background-color: white; width: 100%">
  <div [style.height.px]="screenHeight" style="position: relative; background-color: white"></div>

  <div style="position: absolute; height: 100%; top: 0; right: 0; width: 100%">
    <ion-list>
      <!-- process -->
      <app-cmd-action showedAction="terminer" procededAction="finished" *ngFor="let proccessOrderItem of proccessOrder; let idx = index" [order]="proccessOrder?.[idx]"></app-cmd-action>
    </ion-list>
  </div>
</div>
