<ion-header *ngIf="userData.fastFoodId!==undefined" style="position: sticky; top: 0; z-index: 5000">
  <ion-toolbar>
    <ion-grid fixed>
      <!-- <ion-row class="firstRow">
        <ion-col size="12">
          <app-component0 marginGrid="0"></app-component0>
        </ion-col>
      </ion-row> -->
      <ion-row style="display: flex; justify-content: space-between">
        <ion-col style="flex-direction: column" size="5">
          <ion-label style="font-size: 18px">aujourd'hui</ion-label><ion-label style="margin-left: 10px; font-size: 14px">{{ currentDate }}</ion-label>
        </ion-col>
        <ion-col style="display: flex; align-items: center" size="auto">
          <!-- Afficher les 2 prochains jours -->
          <ion-col *ngFor="let day of nextDays" size="auto" (click)="selectDay(day)">
            <app-component2
              [backgrd]="'#fff5f5'"
              [mLeft]="'5px'"
              [shadow]="'none'"
              [text1]="day.day"
              [text2]="day.date.toString()"
              [style.opacity]="selectedDate.getDate() === day.fullDate.getDate() ? '1' : '0.6'"
            ></app-component2>
          </ion-col>

          <!-- Bouton de sélection de date -->
          <ion-col size="auto" (click)="openDatePicker()" class="calendar-icon">
            <ion-icon name="calendar-outline" style="font-size: 24px; color: var(--ion-color-primary)"></ion-icon>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row class="rowPrixCmd">
        <ion-col size="6">
          <app-component1 [text1]="totalOrder.toString()"></app-component1>
        </ion-col>
        <ion-col size="6">
          <app-component1 [text1]="totalAmount.toString()" text2="fcfa" text3="Montant Total"></app-component1>
        </ion-col>
      </ion-row>

      <ion-row class="rowNavGestionChipNav" style="height: 20px; margin: 10px 0 20px 0">
        <ion-row class="rowNavGestionMenu" id="rowActionGestionMenu">
          <ion-col size="auto">
            <ion-chip color="danger" [class.selected]="isSelected('pending')" routerLink="pending" (click)="selectChip('pending')">
              <ion-icon name="time-outline"></ion-icon>
              <ion-label>Cmds en Attente</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto">
            <ion-chip color="danger" [class.selected]="isSelected('proccess')" routerLink="proccess" (click)="selectChip('proccess')">
              <ion-icon name="restaurant-outline"></ion-icon>
              <ion-label>Cmds en cours</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto">
            <ion-chip color="danger" [class.selected]="isSelected('finish')" routerLink="finish" (click)="selectChip('finish')">
              <ion-icon name="checkmark-done-outline"></ion-icon>
              <ion-label>Cmds en Terminer</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<app-loader [load]="this.orderData.getFastfoodOrders() === null && userData.fastFoodId!==undefined" height="65%"></app-loader>

<!-- Affichage du contenu lorsque fastFoodOrder est différent de null -->
<!-- <main
  *ngIf="this.orderData.getFastfoodOrders() !== null"
  style="height: 500px; position: relative"
  [@fastFoodOrderRouteAnimation]="getAnimationData(outlet) !== 'fastFood-pending-order-NoAnim' ? getAnimationData(outlet) : undefined"
>
  <router-outlet #outlet="outlet" [@.disabled]="false"></router-outlet>
</main> -->

<router-outlet></router-outlet>
<app-no-fast-food
  titre="Creer votre boutique et recever vos cammande"
  description="Gerer facillement vos comades vos livraisons vos transactions avec votre Boutique"
  *ngIf="userData.fastFoodId===undefined"
></app-no-fast-food>
