ion-chip {
  padding: 8px;
  border-radius: 119px;
  margin-left: -1px;
}

ion-icon {
  margin: 0px;
}

ion-col {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

ion-grid > :nth-child(2) {
  font-weight: 900;
  font-size: 31px;
  margin-top: -1px;
  margin-bottom: 1px;
}

ion-grid > :nth-child(3) {
  color: rgb(0 0 0 / 44%);
  font-size: 14px;
  font-weight: bold;
}

ion-grid > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  font-size: 25px;
  padding-left: 8px;
  color: #b84e4e;
}
@media (max-height: 850px) {
  ion-grid > :nth-child(2) {
    font-size: 20px;
  }
  ion-grid > :nth-child(3) {
    font-size: 11px;
  }
  .rowPin {
    display: none;
  }
}
