<ion-content class="el" fixed [fullscreen]="true">
  <ion-card class="card-grid">
    <ion-grid fixed class="el">
      <ion-row class="">
        <ion-col size="auto">
          <ion-label class="text-sm-4 text-md-3 text-lg-2 text-xl-1" style="
  "><span>Welcome to</span><br>Rudavo <br> FastFood</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-label>Connexion</ion-label>

        </ion-col>
        <ion-col id="open-loading" class="col-other-connect"
          style="    padding-right: 9px;    align-items: center; justify-content: flex-end;" size="5">
          <ion-icon name="logo-google"></ion-icon>

        </ion-col><ion-col class="col-other-connect" style="    align-items: center;  "
          (click)="direct('auth-with-number')" size="2">
          <ion-icon style="
       " name="logo-whatsapp"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">

          <ion-icon class="ico1" name="person" aria-hidden="true"></ion-icon>
          <ion-input class="ion-input" placeholder="email" type="email" fill="outline"
            placeholder="Entrer votre mot de Email" [(ngModel)]="email">

          </ion-input>


        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">

          <ion-icon class="ico1" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-input id="password-input" class="ion-input" placeholder="Password" type="password" fill="outline"
            placeholder="Entrer votre mot de passe" [(ngModel)]="password">

          </ion-input>
          <ion-icon (click)="showCarat()" class="ico2" name="eye" aria-hidden="true"></ion-icon>


        </ion-col>
      </ion-row>
      <ion-row>

      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="col-btn-connect" size="auto">

          <!-- <ion-button (click)="show2()">
            <ion-label>email verification</ion-label>
          </ion-button>
           -->



          <!-- <ion-button (click)="googleSignIn()"> -->
          <ion-button (click)="connectUser()">
            <ion-icon *ngIf="!connect" color="light" name="arrow-forward-outline"></ion-icon>

          </ion-button>
          <svg *ngIf="connect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
            width="200" height="200" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0); position: absolute;    
          transform: scale(0.15);
          " xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
              <path stroke="none" fill="#e15b64" d="M9 50A41 41 0 0 0 91 50A41 43 0 0 1 9 50" style="
           fill: white;
         ">
                <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s"
                  type="rotate" attributeName="transform"></animateTransform>
              </path>
              <g></g>
            </g><!-- [ldio] generated by https://loading.io -->
          </svg>
          <!--
          <ion-button color="success" (click)="signOut()">
            <ion-icon color="light" name="arrow-forward-outline"></ion-icon>
          </ion-button> -->
        </ion-col>
        <!-- <ion-col size="12">
          <ion-loading trigger="open-loading" message="Dismissing after 3 seconds..." duration="3000"></ion-loading>



        </ion-col> -->
        <ion-col class="col-fogotPsswrd" size="auto">
          <ion-label>Forget Password?</ion-label>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5" class="col-label-inscription">
          <ion-label>vous n'avez pas de compte ?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="row-inscription">
        <ion-col size="auto" class="col-label-inscription2">
          <ion-label>vous n'avez pas de compte ?</ion-label>
        </ion-col>
        <ion-col class="col-inscrip" (click)="direct('auth-with-google')" size="auto">
          <ion-chip color="danger" mode="ios" outline="true">
            <ion-label>inscription</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row style="
      color: white;
  " class="row-connect-label ion-justify-content-start">
        <ion-col size="auto">
          <ion-label>Connectez Vous Avec</ion-label>

        </ion-col>
      </ion-row>
      <ion-row style="
      color: white;
      font-size: 35px;
  " class="row-otherConnect ion-justify-content-start">
        <ion-col id="open-loading" size="1">
          <ion-icon name="logo-google"></ion-icon>

        </ion-col><ion-col (click)="direct('auth-with-number')" size="5">
          <ion-icon style="
          left: 10px;
      " name="logo-whatsapp"></ion-icon>
        </ion-col>



      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="card-black">
  </ion-card>

  <ion-card *ngIf="googleAuthIscliked" style="
   /* right: 0; */
   z-index: 5000000000000000000000000;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;   background: hsla(0, 0%, 0%, 0.41);

" class="card-loader">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200"
      height="200" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0);    transform: scale(0.25);
 " xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <path stroke="none" fill="#e15b64" d="M9 50A41 41 0 0 0 91 50A41 43 0 0 1 9 50" style="
  fill: white;
">
          <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s" type="rotate"
            attributeName="transform"></animateTransform>
        </path>
        <g></g>
      </g><!-- [ldio] generated by https://loading.io -->
    </svg>
    <!-- transform: scale(0.5); -->

  </ion-card>
  <ion-card class="el card-back">
    <img style="
" src="../../../assets/blur3.jpg" alt="" srcset="">
  </ion-card>

</ion-content>



<style>
  .label-text-wrapper.sc-ion-input-md {

    color: red;
  }
</style>