<ion-col style="flex: 0 0 auto; width: min-content; padding-right: 0">
  <ion-grid style="padding: 0">
    <ion-row>
      <ion-col size="auto">
        <ion-card class="imageFood">
          <ion-label [ngStyle]="{ 'background-color': menu.status === 'available' ? 'darkgreen' : 'darkred', color: 'white' }" class="status-chip">{{
            menu.status === 'available' ? 'Disponible' : 'Indisponible'
          }}</ion-label>
          <div class="skeleton" *ngIf="!menu.coverImage || isLoading"></div>
          <img style="width: 100%; height: 100%; object-fit: cover" [src]="menu.coverImage" (error)="onImageError($event)" alt="Menu image" (load)="onImageLoad($event)" />
        </ion-card>
        <div style="padding-left: 7px">
          <div class="ligne-titre">
            <ion-label class="titre"> {{ menu.name }} </ion-label>
          </div>
          <div size="12">
            <ion-label class="prix"> {{ menu?.prices && menu.prices.length > 0 ? menu.prices[0].price : '' }} fcfa </ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-col>
