ion-grid {
  width: 100%;
  padding: 0;
}

ion-col {
  padding: 0;
}
ion-card {
  margin: 0;
  box-shadow: none;
}
ion-chip {
  margin: 0;
}
.border-col {
  padding: 5px;
  position: relative;
  top: -5px;
}
.middle-col {
  padding: 2px;
}
.border-card {
  height: 135px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
}
.middle-card {
  height: 165px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
}
.middle-card img {
  height: 100%;
}
.border-card img {
  max-width: 140%;
  transform: scale(1.2);
  height: 100%;
}

.prix-border-card {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4px;
}
