ion-card {
  height: 50px;
  width: 50px;
  background-color: rgba(236,73,19,1.00);
  border-radius: 199px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 10px;
}

ion-grid,
ion-col {
  padding: 0;
}
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  padding-bottom: 40px;
  --inner-border-width: 0;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --min-height: max-content;
}

ion-label {
  width: max-content;
}

ion-chip {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 10px;
}

.row-titre {
  font-weight: bold;
  font-size: 12px;
}

.row-action {
  font-size: 10px;
  font-weight: bold;
  margin-top: 2px;
}
.col-annuler {
  padding-left: 8px;
}
.col-modifier {
  color: rgb(28, 139, 0);
}

.row-prix {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
}
