<ion-col style="display: flex">
  <ion-card class="ion-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row class="row-titre">
              <ion-col class="titre">
                <ion-label> Pain Omelettes </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="statut">
                <ion-label> indisponible </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="row-prix-temps">
              <ion-col class="prix">
                <ion-label> 500f </ion-label>
              </ion-col>
              <ion-col class="temps">
                <ion-label> 15-20min </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-card class="card-img-food">
            <img src="../../assets/gmx.png" alt="" srcset="" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-col>
