<!-- <ion-item [ngStyle]="{ '--background': 'none', 'padding-top': '0px' }">
  <ion-grid class="ion_grid1" [ngStyle]="{ 'background-color': 'none' }">
    <ion-row style="margin-bottom: 15px">
      <ion-col style="display: flex; align-items: center; justify-content: space-between" size="12">
        <ion-chip color="{{ titleColor }}" style="position: relative">
          <ion-label style="font-size: 10px; font-weight: 900"> {{ titleAction }} </ion-label>
        </ion-chip> -->
<!-- <ion-chip
          (click)="closeCard()"
          class="chip3"
          style="position: relative; background-color: rgba(236,73,19,1.00); padding: 3px; width: 25px; height: 25px; color: white; display: flex; min-height: 25px !important; color: white !important"
        >
          <ion-icon color="light" style="margin: 0" name="close-outline"></ion-icon>
        </ion-chip> -->
<!-- </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-card [ngStyle]="{ 'margin-left': '0px', width: '45px', height: '45px' }"> <img src="../../assets/gmy7.jpeg" alt="" srcset="" /> </ion-card>
            </ion-col>
            <ion-col size="auto">
              <ion-grid>
                <ion-row class="row-titre">
                  <ion-col size="auto"> <ion-label [ngStyle]="{ color: 'white' }">Nom</ion-label> </ion-col>
                </ion-row>

                <ion-row class="row-prix">
                  <ion-col size="auto"> <ion-label [ngStyle]="{ color: 'white' }"> 2000 f</ion-label> </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col class="col_action" size="7"> -->

<!-- <ion-chip (click)="emitBtn1Click()" class="chip1" [ngStyle]="{ 'box-shadow': '0px 0px 9px #ff9d9d', right: '150px', color: 'white', 'background-color': 'rgba(236,73,19,1.00)' }" color="success">
          <ion-label style="font-size: 14px; color: white">Annuler</ion-label>
        </ion-chip> -->

<!-- <ion-chip class="chip2" [ngStyle]="{ right: '40px', color: 'white', 'background-color': 'rgba(236,73,19,1.00)' }" color="success"> -->

<!-- <ion-chip class="chip2" [ngStyle]="{ right: '110px', color: 'white', 'background-color': confirmationColor }"> -->
<!--pas appliquer showIcon = false -->
<!-- <ion-label (click)="emitConfirmBtnClick()">{{ textConfirmation }}</ion-label>
          <ion-icon color="light" name="{{ iconBtn1 }}"></ion-icon>
        </ion-chip>

        <ion-chip (click)="closeCard()" class="chip3" [ngStyle]="{ color: 'white', 'background-color': 'rgba(236,73,19,1.00)' }">
          <ion-label (click)="closeCard()">Annuler</ion-label>
          <ion-icon color="light" name="close-circle-outline"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item> -->

<ion-item [ngStyle]="{ '--background': 'none', 'padding-top': '0px' }">
  <ion-grid class="ion_grid1" [ngStyle]="{ 'background-color': 'none' }">
    <ion-row>
      <ion-col size="5">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-card [ngStyle]="{ 'margin-left': '0px', width: '45px', height: '45px' }">
                <img src="../../assets/gmy7.jpeg" alt="" srcset="" />
              </ion-card>
            </ion-col>
            <ion-col size="auto">
              <ion-grid>
                <ion-row class="row-titre">
                  <ion-col size="auto">
                    <ion-label [ngStyle]="{ color: 'white' }">Nom</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="row-prix">
                  <ion-col size="auto">
                    <ion-label [ngStyle]="{ color: 'white' }"> 2000 f</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col class="col_action" size="7">
        <ion-chip class="chip1" [ngStyle]="{ 'box-shadow': '0px 0px 9px #ff9d9d', right: '150px', color: 'white', 'background-color': 'rgba(236,73,19,1.00)' }" color="success">
          <ion-label style="font-size: 14px; color: white">buy</ion-label>
        </ion-chip>

        <ion-chip class="chip2" [ngStyle]="{ right: '40px', color: 'white', 'background-color': 'rgba(236,73,19,1.00)' }" color="success">
          <!-- showIcon = false -->
          <ion-label>Add To</ion-label>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-chip>

        <ion-chip class="chip3" style="padding: 5px" [ngStyle]="{ color: 'white', 'background-color': 'rgba(236,73,19,1.00)' }" color="success">
          <ion-icon style="margin: 0" name="close-outline"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
