<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-label class="NomCmdUser"> {{order.clientName||noDef}} </ion-label>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row class="row-cmd" style="flex-wrap: nowrap; overflow-x: scroll">
      <ion-col size="9">
        <ion-grid fixed>
          <ion-row style="margin: 8px 0">
            <ion-col size="auto">
              <ion-label class="titre titre-ligne2"> {{order.menu.name||noDef}}</ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-label style="color: rgb(28, 139, 0); margin-left: 10px">{{order.total||noDef}}</ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-label style="font-weight: normal; margin-left: 10px; margin-right: 0px" class="prix prix-ligne2 statutAccompagnement">Top grenaldine </ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-label style="color: rgb(28, 139, 0); margin-left: 10px">500f</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="auto">
              <ion-label class="prix prix-ligne2">mayonnaise </ion-label>
              <ion-label class="prix prix-ligne2 statutAccompagnement">oui </ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-label class="prix prix-ligne2">piment </ion-label>
              <ion-label class="prix prix-ligne2 statutAccompagnement">oui </ion-label>
            </ion-col>
            <ion-col size="auto">
              <ion-label class="prix prix-ligne2">cube </ion-label>
              <ion-label class="prix prix-ligne2 statutAccompagnement">non </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="3" style="display: flex; justify-content: space-between">
        <div class="ctn-add">
          <ion-chip (click)="statutChange()" style="background-color: black; font-size: 10px; font-weight: bold; color: white; letter-spacing: 1.1px; margin-bottom: 0">
            <app-loader [strokeWidth]="8" stokeColor="white" fillColor="white" [load]="isUpdating"></app-loader>
            <ion-label [ngStyle]="{'visibility': !isUpdating ? 'visible' : 'hidden'}" class="nbre-item"> {{showedAction}} </ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
