<ion-header style="position: sticky; top: -130px; z-index: 5000">
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row style="display: flex; justify-content: space-between; margin-bottom: 7px">
        <ion-col style="flex-direction: column; display: flex; align-items: flex-start" size="5">
          <ion-label style="font-size: 18px; white-space: nowrap">{{ getRelativeDate(selectedDate) | titlecase }}</ion-label>
          <ion-label style="margin-left: 0px; font-size: 14px">{{ currentDate }}</ion-label>
        </ion-col>
        <ion-col *ngIf="nextDays.length>1" size="7" style="display: flex; align-items: center; overflow-x: auto; white-space: nowrap">
          <!-- Afficher les dates avec des commandes -->
          <ng-container *ngFor="let day of nextDays.slice(0,7)">
            <ion-col size="auto" (click)="selectDay(day)" class="day-col">
              <app-component2
                [backgrd]="isSameDay(selectedDate, day.fullDate) ? 'darkred' : '#fff5f5'"
                [mLeft]="'5px'"
                [shadow]="isSameDay(selectedDate, day.fullDate) ? '0px 0px 8px 0px darkred' : 'none'"
                [text1]="day.day"
                [text2]="day.date.toString()"
                [style.opacity]="isSameDay(selectedDate, day.fullDate) ? '1' : '0.6'"
                [color1]="isSameDay(selectedDate, day.fullDate) ? 'white' : 'black'"
                [color2]="isSameDay(selectedDate, day.fullDate) ? 'white' : 'black'"
              ></app-component2>
            </ion-col>
          </ng-container>

          <!-- Bouton de sélection de date -->
          <!-- <ion-col size="auto" class="see-more-col">
            <ion-icon name="add" style="font-size: 24px; color: var(--ion-color-primary)"></ion-icon>
          </ion-col> -->

          <!-- Modal pour la sélection de date -->
        </ion-col>
      </ion-row>
      <ion-row class="rowPrixCmd">
        <ion-col size="6">
          <app-component1 [text1]="totalOrder.toString()"></app-component1>
        </ion-col>
        <ion-col size="6">
          <app-component1 [text1]="totalAmount.toString()" text2="fcfa" text3="Montant Total"></app-component1>
        </ion-col>
      </ion-row>

      <ion-row class="rowNavGestionChipNav" style="height: 20px; margin: 10px 0 20px 0">
        <ion-row class="rowNavGestionMenu" id="rowActionGestionMenu">
          <ion-col size="auto">
            <ion-chip color="danger" [class.selected]="isSelected('pending')" routerLink="user-pending-order" (click)="selectChip('pending')">
              <ion-icon name="time-outline"></ion-icon>
              <ion-label>Cmds en Attente</ion-label>
              <ion-label style="font-size: 12px; font-weight: 900; margin-left: 5px">({{totalPendingOrder.toString()}})</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto">
            <ion-chip color="danger" [class.selected]="isSelected('proccess')" routerLink="user-proccessing-order" (click)="selectChip('proccess')">
              <ion-icon name="restaurant-outline"></ion-icon>
              <ion-label>Cmds en cours</ion-label>
              <ion-label style="font-size: 12px; font-weight: 900; margin-left: 5px">({{totalProcessingOrder.toString()}})</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto">
            <ion-chip color="danger" [class.selected]="isSelected('finish')" routerLink="user-finished-order" (click)="selectChip('finish')">
              <ion-icon name="checkmark-done-outline"></ion-icon>
              <ion-label>Cmds en Terminer</ion-label>
              <ion-label style="font-size: 12px; font-weight: 900; margin-left: 5px">({{totalFinishedOrder.toString()}})</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- Affichage du loader tant que orderData.getUserOrders() est en attente -->
<app-loader [load]="orderData === null" height="100%"></app-loader>

<!-- Affichage du contenu lorsque orderData.getUserOrders() est différent de null -->
<!-- [@orderData.getUserOrders()RouteAnimation]="getAnimationData(outlet)"  [@orderData.getUserOrders()RouteNoAnimation]="getAnimationData(outlet) === 'user-pending-order-NoAnim'" -->

<ion-content *ngIf="orderData !== null" [@userOrderRouteAnimation]="getAnimationData(outlet) !== 'user-pending-order-NoAnim' ? getAnimationData(outlet) : undefined">
  <router-outlet #outlet="outlet" />
</ion-content>
