ion-item{
    margin: 0px 0px 20px 0px;
    --padding-start: 0;
    --inner-padding-end: 0;
}

ion-col:nth-child(2){
    color: black;
    font-weight: bolder;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

ion-col:nth-child(1){
   
   color: rgba(0, 0, 0, 0.81);
    padding-left: 5px;
    font-size: 13px;
}

ion-grid{
    width: 100%;
}