<!-- [ngStyle]="{ 'transform': focus3=='pendingCmd' ? 'translateX(0%)' : 'translateX(100%)'}" -->
<ion-content class="ionContent pendingCmd">
  <!-- <ion-content class="ionContent pendingCmd" *ngIf=" focus3=='pendingCmd'" > -->

  <ion-infinite-scroll class="infinitScroll2">
    <ion-list>
      pending
      <!-- <app-cmd-action [uid]="tempPendingCmd[idx].uidUser" [idx]="tempPendingCmd[idx].idCmd" action="isProccess"
          *ngFor="let item2 of tempPendingCmd; let idx = index" [titre]="item2.menu.titre"></app-cmd-action> -->
    </ion-list>
  </ion-infinite-scroll>
</ion-content>