<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
     <ion-card>
      <img src="../../assets/gmy7.jpeg" alt="" srcset="">
     </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="row-poGratuit ion-justify-content-center">
    <ion-col size="auto">
     <ion-chip color="success" >
    <ion-label>PAIN OMELTTE GRATUIT</ion-label>
     </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row class="row-condition ion-justify-content-center">
    <ion-col size="auto">
      <ion-label>Effectuer 10 achat de pain omelette et obtenez 1 offert</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class=" row-nbrRestant ion-justify-content-center">
    <ion-col size="auto">
      <ion-label>Nombre d'achat restant pour etre éligible </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="row-val-nbrRestant ion-justify-content-center">
    <ion-col size="auto">
      <ion-label color="danger" >10</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="row-eligibiliter ion-justify-content-center">
    <ion-col size="auto">
     <ion-chip color="danger" >
      <ion-label>NON ELIGIBLE</ion-label>
     </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid fixed>
  <ion-row class="row-bonus ion-justify-content-center">
    <ion-col size="auto">
 <ion-chip color="success">
     <ion-label>BONUS 1</ion-label>
 </ion-chip>
    </ion-col> 
       <ion-col class="ion-text-center" size="4">
 <ion-chip color="success">
     <ion-label>BONUS 2</ion-label>
 </ion-chip>
    </ion-col>    <ion-col size="auto">
 <ion-chip color="success">
     <ion-label>BONUS 3</ion-label>
 </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>