<!-- <div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <div class="swiper-pagination"></div>
</div> -->

<!-- Slider main container -->

<div class="carousel-slider swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of slides">
      <div class="item-content">
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-chip color="secondary">
                <ion-avatar>
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label> nom du fastfood </ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-card>
                <img src="../../assets/gmy7.jpeg" alt="" srcset="" />
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row class="row-poGratuit ion-justify-content-center">
            <ion-col size="auto">
              <ion-chip color="success">
                <ion-label>PAIN OMELTTE GRATUIT</ion-label>
              </ion-chip>
            </ion-col></ion-row
          >
          <ion-row class="row-condition ion-justify-content-center">
            <ion-col size="auto">
              <ion-label>Effectuer 10 achat de pain omelette et obtenez 1 offert</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row-nbrRestant ion-justify-content-center">
            <ion-col size="auto">
              <ion-label>Nombre d'achat restant pour etre éligible </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row-val-nbrRestant ion-justify-content-center">
            <ion-col size="auto">
              <ion-label color="danger">10</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row-eligibiliter ion-justify-content-center">
            <ion-col size="auto">
              <ion-chip color="danger">
                <ion-label>NON ELIGIBLE</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col *ngIf="item==='test 1'" size="auto">
              <ion-chip style="color: white !important; background-color: hsl(136.43deg 66.67% 45.59%)" color="success">
                <ion-label>Recevoir</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <ion-grid fixed>
          <ion-row class="row-bonus ion-justify-content-center">
            <ion-col size="auto">
              <ion-chip color="success">
                <ion-label>BONUS 1</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col class="ion-text-center" size="4">
              <ion-chip color="success">
                <ion-label>BONUS 2</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col size="auto">
              <ion-chip color="success">
                <ion-label>BONUS 3</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid> -->
      </div>
    </div>
  </div>
</div>

<div style="position: absolute; width: 100%; height: 100%; top: 0">
  <ion-card style="border-radius: 0; margin: 0" class="el card-back"> </ion-card>
  <ion-card style="border-radius: 0; margin: 0" class="el card-back2"> </ion-card>
  <ion-card style="border-radius: 0; margin: 0" class="card-black"> </ion-card>
</div>
