<ion-grid fixed style="height: 100%; width: 100%; position: absolute; display: flex; justify-content: center; flex-direction: column; align-items: center; top: 0">
  <ion-row
    class="ion-justify-content-between"
    [style.margin-top]="marginTop"
    style="text-align: center; font-size: 18px; /* color: hsl(0 45% 50% / 1); */ font-weight: 300; margin-bottom: 25px"
  >
    <ion-col color="danger" size="auto">
      <ion-label
        >{{ title }} <br />
        {{ subtitle }}</ion-label
      >
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between">
    <ion-col size="auto">
      <ion-chip (click)="onChipClick()" color="danger" mode="ios">
        <ion-label>{{ buttonText }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
