ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --inner-padding-bottom: 25px;
}
ion-infinite-scroll ion-grid {
  padding: 0;
}

ion-row {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}
