<!-- <div [style.height.px]="screenHeight" style="position: relative"></div>
<ion-content style="position: absolute; height: 100%; top: 0" class="ionContent pendingCmd">
  <ion-infinite-scroll class="infinitScroll2">
    <ion-list>

      <app-cmd-action procededAction="processing" showedAction="valider" *ngFor="let pendingOrderItem of pendingOrders; let idx = index" [order]="pendingOrderItem"></app-cmd-action>
    </ion-list>
  </ion-infinite-scroll>
</ion-content> -->

<ion-list>
  <ion-card class="section-card">
    <ion-card-content>
      <ng-container *ngFor="let order of finishOrder; trackBy: trackByOrderId">
        <ion-item-group class="user-group" style="margin-bottom: 30px">
          <ion-item lines="none" class="user-header">
            <ion-avatar slot="start">
              <ion-icon name="person-circle" class="user-avatar"></ion-icon>
            </ion-avatar>
            <ion-label class="label-header-userData">
              <h2>
                {{
                  order?.userData?.firstName && order?.userData?.firstName !== '' && order?.userData?.lastName && order?.userData?.lastName !== ''
                    ? order?.userData?.firstName
                    : order?.userData?.email
                }}
              </h2>
              <p>
                {{ order?.userData?.firstName && order?.userData?.firstName !== '' && order?.userData?.lastName && order?.userData?.lastName !== '' ? order?.userData?.lastName : '' }}
              </p>
            </ion-label>
            <!-- <ion-label slot="end" color="danger">{{ order.rank }}e cmd</ion-label> -->
          </ion-item>

          <ion-list lines="none" class="order-list">
            <div
              *ngIf="isDeliveryActive(order.userId, order.delivery.date, 'express')"
              class="delivery-status-container"
              style="position: absolute; top: 0; left: 0; width: 100%; z-index: 1000; margin: 0; height: 99%; flex-direction: column"
            >
              <div class="delivery-status">
                <ion-icon name="bicycle" class="delivery-icon-animated"></ion-icon>
                <span>Livraison en cours </span>
              </div>
            </div>
            <div
              *ngIf="isDeliveryActive(order.userId, order.delivery.date, 'time', order.delivery.time)"
              class="delivery-status-container"
              style="position: absolute; top: 0; left: 0; width: 100%; z-index: 1000; margin: 0; height: 99%; flex-direction: column"
            >
              <div class="delivery-status">
                <ion-icon name="bicycle" class="delivery-icon-animated"></ion-icon>
                <span>Livraison en cours </span>
              </div>
            </div>
            <app-fast-food-order
              [background]="'hsl(0, 100%, 15%)'"
              [extras]="order.extra || []"
              [extrasDrink]="order.drink || []"
              [order]="order"
              procededAction="processing"
              showedAction="valider"
            ></app-fast-food-order>
          </ion-list>
        </ion-item-group>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-list>
