<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-grid>
  
    <ion-row class="row-segment">
      <ion-col class="col-segment" size="4">
        <ion-chip (click)="show(1)" class="firstCchip" color="danger" mode="ios" >
          <ion-label>ACHAT</ion-label> 
          <ion-label>4</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col class="col-segment" size="4">
       <ion-chip (click)="show(2)" color="danger" mode="ios" >
        <ion-label>STATUT</ion-label>
        <ion-label>2</ion-label>
       </ion-chip>
      </ion-col>
      <ion-col class="col-segment" size="4">
        <ion-chip (click)="show(3)" color="danger" mode="ios" >
          <ion-label>BONUS</ion-label>
          <ion-label>5</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>
 <ion-content [scrollX]="true" [fullscreen]="true">

  
  <ion-infinite-scroll class="infinitScroll1" *ngIf="chip1ISFocused">

    <ion-list   > 
   
  <app-pannier-achat-or *ngFor="let item of pendingCmd; let idx = index"  [idxCmd]="item.idCmd" [cmdGet]="pendingCmd[idx]"        >

  </app-pannier-achat-or>
  <!-- <app-pannier-achat-or (click)="showLoad()" *ngFor="let item of []; let idx = index"  [idxCmd]="idx"         ></app-pannier-achat-or> -->
  <!-- [ngStyle]="{'display' : item.ispending ? 'flex' : 'none'}"   -->
     </ion-list>

    
    <ion-card class="card-parent">
      <ion-card>
          
          <ion-grid>
   
   
  
    <ion-row class="row-article">
      
      <ion-col class="col-article" size="7"><ion-label>Frais de Transaction</ion-label></ion-col>
      <ion-col class="col-prix" size="5"><ion-label>0f</ion-label></ion-col>
      </ion-row>

      
    <ion-row class="row-article">
      
      <ion-col class="col-article" size="7"><ion-label>Frais de retrait</ion-label></ion-col>
      <ion-col class="col-prix" size="5"><ion-label>50f</ion-label></ion-col>
      </ion-row>


    <ion-row class="row-article">
      
    <ion-col class="col-article" size="7"><ion-label>Total</ion-label></ion-col>
    <ion-col class="col-prix" size="5"><ion-label>2360f</ion-label></ion-col>
    </ion-row>
    <ion-row class="row-article row-buy ion-justify-content-center">
    <ion-col (click)="buy()" class="col-article" size="auto">
      <ion-chip>
        <ion-label>PAYER</ion-label>
      </ion-chip>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-card>
    </ion-card>
  </ion-infinite-scroll>
  




  <ion-infinite-scroll class="infinitScroll2" *ngIf="chip2ISFocused">
    <ion-list  >
      <ion-item    *ngFor="let item2 of BuyCmd; let idx = index" >
        <app-cmd-statut     [titre]="item2.menu.titre"     ></app-cmd-statut>
      </ion-item>
 
    </ion-list>

    
  </ion-infinite-scroll>




  <ion-infinite-scroll class="infinitScroll2" *ngIf="chip3ISFocused">
    <ion-list  >
      <app-pannier-bonnus   ></app-pannier-bonnus>
 
    </ion-list>

    
  </ion-infinite-scroll>


    <app-cmd-bottom-card ></app-cmd-bottom-card>


</ion-content>

<ion-grid *ngIf="!CmdAllIsGet" fixed style="
height: 90%;
width: 100%;
position: fixed;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
">
<ion-row class="ion-justify-content-between" style="
text-align: center;
font-size: 18px;
/* color: hsl(0 45% 50% / 1); */
font-weight: 300;
margin-bottom: 25px;
">
  <ion-col  *ngIf=" !CmdAllIsGet && !erroDataGeting" size="auto">
    <svg     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0);   
    transform: scale(0.2);
    " xmlns:xlink="http://www.w3.org/1999/xlink"><g><path stroke="none" fill="#e15b64" d="M9 50A41 41 0 0 0 91 50A41 43 0 0 1 9 50" style="
     fill: rgb(255, 0, 0);
   ">
     <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s" type="rotate" attributeName="transform"></animateTransform>
   </path><g></g></g><!-- [ldio] generated by https://loading.io -->
   </svg>
  </ion-col> 
  <ion-col color="danger"   *ngIf="erroDataGeting" size="auto">

   <ion-label>Connexion internet indisponible <br> verifier votre reseau</ion-label>
  </ion-col> 

</ion-row>
<ion-row class="ion-justify-content-between">


  <ion-col (click)="getCmd()" *ngIf="erroDataGeting" size="auto">

    <ion-chip color="danger" mode="ios"  >
      <ion-label>ressayez</ion-label>
    </ion-chip>
  </ion-col>
</ion-row>
</ion-grid>
<ion-grid id="lodaerTab2"  fixed style="
    height: 115%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000b3;
    z-index: 100;
    visibility: hidden;
">
<ion-row class="ion-justify-content-between" style="
text-align: center;
font-size: 18px;
/* color: hsl(0 45% 50% / 1); */
font-weight: 300;
margin-bottom: 25px;
">
  <ion-col    size="auto">
    <svg     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0);   
    transform: scale(0.2);
    " xmlns:xlink="http://www.w3.org/1999/xlink"><g><path stroke="none" fill="#e15b64" d="M9 50A41 41 0 0 0 91 50A41 43 0 0 1 9 50" style="
     fill: rgb(255, 255, 255);
   ">
     <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s" type="rotate" attributeName="transform"></animateTransform>
   </path><g></g></g><!-- [ldio] generated by https://loading.io -->
   </svg>
  </ion-col> 
 
</ion-row>
 
</ion-grid>
 