.manage ion-icon {
  font-size: 12px;
}

.manage ion-label {
  font-size: 8px;
}

.row-header {
  margin-top: -15px;
  margin-left: -20px;
  padding: 7px 0 0 8px;
}

.manage {
  height: max-content;
}
