<div class="manage">
  <!-- <app-page-list-cmd-fast-food></app-page-list-cmd-fast-food> -->
  <ion-header>
    <ion-toolbar>
      <ion-grid fixed>
        <ion-row class="row-header">
          <ion-col size="auto">
            <ion-chip [routerLink]="['/tabs/tab3/historique']" color="danger">
              <ion-icon name="options"> </ion-icon>

              <ion-label> Mon porte feuille </ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto" class="col-fastfood">
            <ion-chip [routerLink]="['/tabs/tab3/commande']" class="chip focusedChip" color="danger">
              <ion-icon name="options"> </ion-icon>

              <ion-label> Commande </ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto" class="col-fastfood">
            <ion-chip [routerLink]="['/tabs/tab3/menu']" class="chip" color="danger">
              <ion-icon name="options"> </ion-icon>

              <ion-label> menu </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <router-outlet />
</ion-content>
