<div *ngIf="!shouldHideElement()" id="manage" class="manage">
  <!-- <app-page-list-cmd-fast-food></app-page-list-cmd-fast-food> -->
  <ion-header>
    <ion-toolbar>
      <ion-grid fixed>
        <ion-row class="row-header">
          <ion-col size="auto">
            <ion-chip [routerLink]="['/tabs/tab3/historique']" color="danger" [class.selected]="isSelected('historique')" (click)="selectChip('historique')">
              <ion-icon name="wallet-outline"></ion-icon>
              <ion-label> Mon porte feuille </ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto" class="col-fastfood">
            <ion-chip [routerLink]="['/tabs/tab3/commande']" color="danger" [class.selected]="isSelected('commande')" (click)="selectChip('commande')">
              <ion-icon name="receipt-outline"></ion-icon>
              <ion-label> Commande </ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="auto" class="col-fastfood">
            <ion-chip [routerLink]="['/tabs/tab3/menu']" color="danger" [class.selected]="isSelected('menu')" (click)="selectChip('menu')">
              <ion-icon name="restaurant-outline"></ion-icon>
              <ion-label> Menu </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <router-outlet />
</ion-content>

<app-loader [showMessage]="true" [load]="(showLoader$ | async) || false" position="fixed" backGroundCtn="rgb(0 0 0 / 88%)"></app-loader>

<!-- <app-loader [showMessage]="true" [load]="true" position="fixed" backGroundCtn="rgb(0 0 0 / 88%)"></app-loader> -->
