.manage ion-icon {
  font-size: 12px;
}

.manage ion-label {
  font-size: 8px;
}

.row-header {
  margin-top: -15px;
  margin-left: -20px;
  padding: 7px 0 0 8px;
}

.manage {
  height: max-content;
}
.selected {
  background-color: rgba(236,73,19,1.00) !important;
  border-radius: 20px;
  // box-shadow: 0 2px 4px rgba(236,73,19,1.00);
  color: white;
  ion-icon {
    color: white !important;
  }
}

ion-chip {
  transition: background-color 0.3s ease;
}
