<div
  [attr.id]="orderId"
  style="
    position: absolute;
    bottom: 0;
    right: 0;
    height: max-content;
    max-height: 80%;
    width: 100%;
    transform: translateY(200%);
    display: flex;
    /* background: rgb(0, 0, 0); */
    border-radius: 17px;
    transition-duration: 900ms;
    /* background: url('../../../../../assets/images/background/backgroundGradient.png'); */
    background-size: cover;
    padding: 5px;
  "
>
  <div style="display: flex; flex-direction: column; align-items: center">
    <ion-grid>
      <ion-row>
        <ion-col size="auto" *ngFor="let extra of getSortedExtras()">
          <ion-chip
            [color]="color"
            style="font-size: 10px; font-weight: bold"
            [ngStyle]="{ background: extra.status && color === '' ? 'darkgreen' : !extra.status && color === '' ? 'rgba(236,73,19,1.00)' : '', color: color === '' ? 'white' : '' }"
          >
            <ion-label>{{ extra.name }}</ion-label>
            <div class="custom-checkbox" [ngClass]="{ 'cross-checkbox': !extra.status, 'check-checkbox': extra.status }">
              <ion-icon [name]="extra.status ? 'checkmark' : 'close'" class="icon-symbol"></ion-icon>
            </div>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
