ion-grid,
ion-col {
  padding: 0;
}
.custom-checkbox {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.cross-checkbox {
    background-color: red;
    border: 1px solid rgba(236,73,19,1.00);
  }

  &.check-checkbox {
    background-color: #00cc00;
    border: 1px solid darkgreen;
  }
}

.icon-symbol {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
