<ion-card id="bottom-card-home" class="bottom-card-home">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-header [postOrder]="postOrder.bind(this)" (outputCloseOrder)="closeBottomCard()" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col
        [attr.id]="menu?.id+'-detail'"
        size="12"
        style="display: block; overflow-x: scroll; height: max-content; margin-top: 6; margin-bottom: 0; flex-wrap: nowrap; position: absolute"
      >
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'detail'" [textLigne2]="'500f'"> </app-pannier-cmd-detail>
        </div>
      </ion-col>

      <ion-col
        [attr.id]="menu?.id+'-extra'"
        size="12"
        style="display: block; overflow-x: scroll; height: max-content; margin-top: 6; margin-bottom: 0; flex-wrap: nowrap; position: absolute"
      >
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'extra'" [textLigne2]="'500f'"> </app-pannier-cmd-detail>
        </div>
      </ion-col>

      <ion-col
        [attr.id]="menu?.id+'-drink'"
        size="12"
        style="display: block; overflow-x: scroll; height: max-content; margin-top: 6; margin-bottom: 0; flex-wrap: nowrap; position: absolute"
      >
        <!-- <app-pannier-cmd-detail
              [postOrder]="postOrder.bind(this)"
              shadow="0px 0px 9px rgb(255, 157, 157)"
              backgroundChip="darkred"
              [iconIshow]="false"
              [labelIshow]="true"
              textLigne1="Total"
              [textLigne2]="1000"
            ></app-pannier-cmd-detail> -->
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" *ngFor="let item of firstRowItems" [textLigne1]="item.textLigne1" [textLigne2]="item.textLigne2"> </app-pannier-cmd-detail>
        </div>
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" *ngFor="let item of secondRowItems" [textLigne1]="item.textLigne1" [textLigne2]="item.textLigne2"> </app-pannier-cmd-detail>
        </div>
      </ion-col>

      <ion-col
        [attr.id]="menu?.id+'-delivery'"
        size="12"
        style="display: block; overflow-x: scroll; height: max-content; margin-top: 6; margin-bottom: 0; flex-wrap: nowrap; position: absolute"
      >
        <div style="display: flex; flex-wrap: nowrap">
          deli
          <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'500f'" [textLigne2]="'livraison'"> </app-pannier-cmd-detail>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-start" size="12">
        <ion-grid fixed>
          <ion-row style="margin-right: 0px; flex-wrap: nowrap">
            <ion-chip (click)="resetPanels()" color="light" style="width: auto; font-size: 12px; color: white; justify-content: space-between; text-align: right">
              <ion-label>Détail</ion-label>
              <ion-icon name="list-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
            <ion-chip
              (click)="toggleExtrasPanel($event, menu?.id + '-extra')"
              color="light"
              style="width: auto; font-size: 12px; background: none; justify-content: space-between; text-align: right"
            >
              <ion-label>Extra</ion-label>
              <ion-icon name="add-circle-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
            <ion-chip
              (click)="toggleExtrasPanel($event, menu?.id + '-drink')"
              color="light"
              style="width: auto; font-size: 12px; background: none; justify-content: space-between; text-align: right"
            >
              <ion-label>Boisson</ion-label>
              <ion-icon name="wine-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
            <ion-chip
              (click)="toggleExtrasPanel($event, menu?.id + '-delivery')"
              color="light"
              style="width: auto; font-size: 12px; background: none; justify-content: space-between; text-align: right"
            >
              <ion-label>Livraison</ion-label>
              <ion-icon name="bicycle-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid *ngIf="!fastfoodAllTabIsGet" fixed style=" -->
  <ion-grid id="ctnLoaderBottomCard" fixed style="height: 100%; width: 100%; position: fixed; justify-content: center; flex-direction: column; align-items: center; background: #000000b8">
    <ion-row class="ion-justify-content-between" style="text-align: center; font-size: 18px; /* color: hsl(0 45% 50% / 1); */ font-weight: 300; margin-bottom: 25px">
      <!-- <ion-col  *ngIf=" !fastfoodAllTabIsGet && !erroDataGeting" size="auto"> -->
      <ion-col size="auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid"
          width="200"
          height="200"
          style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0); transform: scale(0.2)"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g>
            <path stroke="none" fill="#e15b64" d="M9 50A41 41 0 0 0 91 50A41 43 0 0 1 9 50" style="fill: rgb(255, 255, 255)">
              <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s" type="rotate" attributeName="transform"></animateTransform>
            </path>
            <g></g>
          </g>
          <!-- [ldio] generated by https://loading.io -->
        </svg>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
