<ion-card id="bottom-card-home" class="bottom-card-home">
  <ion-grid fixed>
    <ion-row [attr.id]="menu?.id+'-header'" style="transform: translateY(0); transition: transform 0.3s ease-in-out">
      <ion-col size="12">
        <app-header [postOrder]="postOrder.bind(this)" (outputCloseOrder)="closeBottomCard()" />
      </ion-col>
    </ion-row>
    <ion-row style="position: absolute; top: 0; width: 100%; align-items: flex-start" class="ion-justify-content-between">
      <!-- Detail Column - Visible by default -->
      <ion-col
        [attr.id]="menu?.id+'-detail'"
        size="12"
        style="
          display: block;
          overflow-x: scroll;
          height: 50%;
          margin-top: 15%;
          margin-bottom: 0;
          flex-wrap: nowrap;
          position: absolute;

          transform: translateY(0);
          transition: transform 0.3s ease-in-out;
        "
      >
        <div style="display: flex; flex-wrap: nowrap; justify-content: space-between">
          <div style="display: flex; flex-wrap: wrap; width: 70%">
            <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'detail'" [textLigne2]="'500f'"> </app-pannier-cmd-detail>
            <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'detail'" [textLigne2]="'500f'"> </app-pannier-cmd-detail>
            <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'detail'" [textLigne2]="'500f'"> </app-pannier-cmd-detail>
            <app-pannier-cmd-detail [iconIshow]="true" [textLigne2]="'5'"> </app-pannier-cmd-detail>
          </div>
          <div style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-around; width: 30%; background-color: #0000001a; border-radius: 20px">
            <ion-chip style="background: none">
              <div style="display: flex; flex-direction: column">
                <ion-label style="font-size: 17px"> 2 </ion-label>
                <ion-label style="width: 100%"> quantite </ion-label>
              </div>
            </ion-chip>

            <ion-chip style="background: none">
              <div>
                <ion-label style="font-size: 17px"> 5000f </ion-label>
                <ion-label> Montant Total </ion-label>
              </div>
            </ion-chip>
          </div>
        </div>
      </ion-col>

      <!-- Extra Column - Hidden by default -->
      <ion-col
        [attr.id]="menu?.id+'-extra'"
        size="12"
        style="
          display: block;
          overflow-x: scroll;
          height: 80%;
          margin-top: 6;
          margin-bottom: 0;
          flex-wrap: nowrap;
          position: absolute;
          transform: translateY(200%);
          transition: transform 0.3s ease-in-out;
        "
      >
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" [textLigne1]="'extra'" [textLigne2]="'500f'"> </app-pannier-cmd-detail>
        </div>
      </ion-col>

      <!-- Drink Column - Hidden by default -->
      <ion-col
        [attr.id]="menu?.id+'-drink'"
        size="12"
        style="
          display: block;
          overflow-x: scroll;
          height: 80%;
          margin-top: 6;
          margin-bottom: 0;
          flex-wrap: nowrap;
          position: absolute;
          transform: translateY(200%);
          transition: transform 0.3s ease-in-out;
        "
      >
        <!-- <app-pannier-cmd-detail
              [postOrder]="postOrder.bind(this)"
              shadow="0px 0px 9px rgb(255, 157, 157)"
              backgroundChip="darkred"
              [iconIshow]="false"
              [labelIshow]="true"
              textLigne1="Total"
              [textLigne2]="1000"
            ></app-pannier-cmd-detail> -->
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" *ngFor="let item of firstRowItems" [textLigne1]="item.textLigne1" [textLigne2]="item.textLigne2"> </app-pannier-cmd-detail>
        </div>
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" *ngFor="let item of secondRowItems" [textLigne1]="item.textLigne1" [textLigne2]="item.textLigne2"> </app-pannier-cmd-detail>
        </div>
        <div style="display: flex; flex-wrap: nowrap">
          <app-pannier-cmd-detail [iconName]="'add-outline'" *ngFor="let item of thirdRowItems" [textLigne1]="item.textLigne1" [textLigne2]="item.textLigne2"> </app-pannier-cmd-detail>
        </div>
      </ion-col>

      <!-- Delivery Column - Hidden by default -->
      <ion-col
        [attr.id]="menu?.id+'-delivery'"
        size="12"
        style="
          display: flex;
          overflow-x: scroll;
          height: 80%;
          margin-top: 6;
          margin-bottom: 0;
          flex-wrap: nowrap;
          position: absolute;
          transform: translateY(200%);
          transition: transform 0.3s ease-in-out;
        "
      >
        <div style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 20%; background-color: #0000001a; border-radius: 20px">
          <ion-chip class="type-chip">
            <ion-label> Type </ion-label>
            <ion-icon style="color: white; padding: 0px; background: darkred; border-radius: 25px; font-size: 14px" name="add-outline"></ion-icon>
          </ion-chip>
          <ion-chip class="type-chip" color="light">
            <div style="display: flex; align-items: flex-start; flex-direction: column">
              <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
              <ion-label> heure </ion-label>
            </div>
          </ion-chip>
          <ion-chip class="type-chip" color="light">
            <div style="display: flex; align-items: flex-start; flex-direction: column">
              <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
              <ion-label> express </ion-label>
            </div>
          </ion-chip>
          <ion-chip class="type-chip" color="light">
            <div style="display: flex; align-items: flex-start; flex-direction: column">
              <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
              <ion-label> Aucune </ion-label>
            </div>
          </ion-chip>
        </div>

        <div style="display: flex; flex-wrap: nowrap; flex-direction: row; width: 80%; justify-content: space-around">
          <div
            style="
              display: flex;
              flex-direction: column;
              background-color: #0000001a;
              border-radius: 20px;
              height: 100%;
              padding-right: 5px;
              max-width: 50%;
              width: max-content;
              overflow-x: scroll;
            "
          >
            <div style="width: max-content; position: sticky; left: 0">
              <ion-chip style="font-size: 11px">
                <ion-label> Aujourd'hui </ion-label>

                <ion-icon style="color: white; padding: 2px; background: darkred; border-radius: 25px; font-size: 14px" name="add-outline"></ion-icon>
              </ion-chip>
            </div>

            <div style="display: flex; flex-wrap: nowrap">
              <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 18h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div>
              <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 18h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div>
              <!-- <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 20h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div> -->
            </div>
            <div style="display: flex; flex-wrap: nowrap">
              <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 18h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div>
              <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 18h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div>
              <!-- <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 20h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div> -->
            </div>

            <div style="display: flex; flex-wrap: nowrap">
              <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 18h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div>
              <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 20h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div>
              <!-- <div>
                <ion-chip class="hour-chip">
                  <div style="display: flex; align-items: flex-start; flex-direction: column-reverse">
                    <ion-label> 20h00 </ion-label>
                    <app-custum-ckeckbox size="14px" style="margin-left: 0px" titre=""></app-custum-ckeckbox>
                  </div>
                </ion-chip>
              </div> -->
            </div>
          </div>

          <div style="display: flex; flex-wrap: nowrap; flex-direction: column; width: 47%; background-color: #0000001a; border-radius: 20px">
            <ion-chip style="font-size: 11px; width: max-content">
              <ion-label> Localisation </ion-label>

              <ion-icon style="color: white; padding: 2px; background: darkred; border-radius: 25px; font-size: 14px" name="location-outline"></ion-icon>
            </ion-chip>

            <ion-textarea
              placeholder="Entrer une description de votre lieu exemple:  Quartier Nkomo, après le marché central, à côté de la pharmacie du soleil, immeuble bleu à 3 étages, 2ème étage, porte 204"
              style="font-size: 12px; width: 90%; margin-left: 5%; height: 70%"
              rows="8"
              autoGrow="true"
            ></ion-textarea>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="position: absolute; bottom: -5px; width: 100%">
      <ion-col class="ion-align-self-start" size="12">
        <ion-grid fixed>
          <ion-row style="margin-right: 0px; flex-wrap: nowrap">
            <ion-chip (click)="resetPanels()" color="light" style="width: auto; font-size: 12px; color: white; justify-content: space-between; text-align: right">
              <ion-label>Détail</ion-label>
              <ion-icon name="list-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
            <ion-chip
              (click)="toggleExtrasPanel($event, menu?.id + '-extra')"
              color="light"
              style="width: auto; font-size: 12px; background: none; justify-content: space-between; text-align: right"
            >
              <ion-label>Extra</ion-label>
              <ion-icon name="add-circle-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
            <ion-chip
              (click)="toggleExtrasPanel($event, menu?.id + '-drink')"
              color="light"
              style="width: auto; font-size: 12px; background: none; justify-content: space-between; text-align: right"
            >
              <ion-label>Boisson</ion-label>
              <ion-icon name="wine-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
            <ion-chip
              (click)="toggleExtrasPanel($event, menu?.id + '-delivery')"
              color="light"
              style="width: auto; font-size: 12px; background: none; justify-content: space-between; text-align: right"
            >
              <ion-label>Livraison</ion-label>
              <ion-icon name="bicycle-outline" style="margin-left: 8px"></ion-icon>
            </ion-chip>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid *ngIf="!fastfoodAllTabIsGet" fixed style=" -->
  <ion-grid id="ctnLoaderBottomCard" fixed style="height: 100%; width: 100%; position: fixed; justify-content: center; flex-direction: column; align-items: center; background: #000000b8">
    <ion-row class="ion-justify-content-between" style="text-align: center; font-size: 18px; /* color: hsl(0 45% 50% / 1); */ font-weight: 300; margin-bottom: 25px">
      <!-- <ion-col  *ngIf=" !fastfoodAllTabIsGet && !erroDataGeting" size="auto"> -->
      <ion-col size="auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid"
          width="200"
          height="200"
          style="shape-rendering: auto; display: block; background: rgba(255, 255, 255, 0); transform: scale(0.2)"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g>
            <path stroke="none" fill="#e15b64" d="M9 50A41 41 0 0 0 91 50A41 43 0 0 1 9 50" style="fill: rgb(255, 255, 255)">
              <animateTransform values="0 50 51;360 50 51" keyTimes="0;1" repeatCount="indefinite" dur="1s" type="rotate" attributeName="transform"></animateTransform>
            </path>
            <g></g>
          </g>
          <!-- [ldio] generated by https://loading.io -->
        </svg>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
