<form>
  <ion-grid [ngStyle]="{'margin': marginGrid}" fixed class="grid">
    <ion-row class="row">
      <ion-col class="actions" *ngIf="showColNbr" size="1">
        <ion-chip color="primary">
          <ion-label>{{nbr}}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size={{colSize}}>
        <ion-grid fixed>
          <ion-row class="row-text">
            <ion-col [ngStyle]="{'padding-bottom': bottom}" class="col-Name" size="12">
              <!-- <ion-label>{{text1}}</ion-label> -->
              <ion-input [(ngModel)]="text1" name="text1" class="ion-input" value={{text1}} label="Nom du menu"
                label-placement="floating" fill="outline">

              </ion-input>
            </ion-col>
            <ion-col *ngIf="shadowText2" size="auto" class="col-FF">
              <!-- <ion-label>Grealdish</ion-label> -->
              <ion-input class="ion-input" value="Grealdish" label={{labeLext2}} label-placement="floating"
                fill="outline">

              </ion-input>
            </ion-col>
            <ion-col *ngIf="shadowText3" size="auto" class="label-prix">
              <ion-label>Prix</ion-label>
            </ion-col>
            <ion-col [ngStyle]="{'padding': paddingText4 }" *ngIf="shadowText4" size="4" class="val-prix">
              <!-- <ion-label>{{text4}}</ion-label> -->
              <ion-input [(ngModel)]="text4" name="text4" class="ion-input" value={{text4}} label={{labeLext4}}
                label-placement="floating" fill="outline">

              </ion-input>
            </ion-col>
            <ion-col *ngIf="shadowText5" size="4" class="val-prix">
              <!-- <ion-label>{{text5}}</ion-label> -->
              <ion-input [(ngModel)]="text5" name="text5" class="ion-input" value={{text5}} label={{labeLext5}}
                label-placement="floating" fill="outline">

              </ion-input>
            </ion-col>
            <ion-col *ngIf="shadowText6" size="4" class="val-prix">
              <!-- <ion-label>{{text6}}</ion-label> -->
              <ion-input [(ngModel)]="text6" name="text6" class="ion-input" value={{text6}} label={{labeLext6}}
                label-placement="floating" fill="outline">

              </ion-input>
            </ion-col>
            <ion-col *ngIf="shadowText7" size="auto" class="label-statut">
              <ion-label>statut</ion-label>
            </ion-col>
            <ion-col [ngStyle]="{'padding': paddingText8 }" *ngIf="shadowText8" size="4" class="val-statut">
              <!-- <ion-label>{{text8}}</ion-label> -->
              <ion-input [(ngModel)]="text8" name="text8" class="ion-input" value={{text8}} label={{labeLext8}}
                label-placement="floating" fill="outline">

              </ion-input>




            </ion-col>
            <ion-col *ngIf="showIcon" class="col-icon" size="6">
              <ion-chip color="danger" (click)="hideBottomCard0()">
                <ion-icon color="danger" name="close-outline"></ion-icon>
              </ion-chip>
            </ion-col>
            <ion-col *ngIf="showIcon" class="col-icon" size="2">
              <ion-chip color="success" (click)="hideBottomCard1()">
                <ion-icon color="success" name="checkmark-outline"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="showAvatar" class="col-avatar" size="2">
        <ion-avatar>
          <img src="../../../assets/vlor.jpg" />
        </ion-avatar>
      </ion-col>

    </ion-row>
  </ion-grid>
</form>