<ion-item>
  <ion-grid [ngStyle]="{ margin: marginGrid }" id="d" fixed class="grid">
    <ion-row class="row">
      <ion-col class="actions" *ngIf="showColNbr" size="1">
        <ion-chip color="primary">
          <ion-label>{{ nbr }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="{{ colSize }}">
        <ion-grid fixed>
          <ion-row class="row-text">
            <ion-col [ngStyle]="{ 'padding-bottom': bottom }" class="col-Name" size="12">
              <ion-label>{{ text1 }}</ion-label>
            </ion-col>
            <ion-col *ngIf="showText2" size="auto" class="col-FF">
              <ion-label>Grealdish</ion-label>
            </ion-col>
            <ion-col *ngIf="showText3" size="auto" class="label-prix">
              <ion-label>Prix</ion-label>
            </ion-col>
            <ion-col *ngIf="showText4" size="auto" class="val-prix">
              <ion-label>{{ text4 }}</ion-label>
            </ion-col>
            <ion-col *ngIf="showText5" size="auto" class="val-prix">
              <ion-label>{{ text5 }}</ion-label>
            </ion-col>
            <ion-col *ngIf="showText6" size="auto" class="val-prix">
              <ion-label>{{ text6 }}</ion-label>
            </ion-col>
            <ion-col [ngStyle]="{ padding: paddingText7 }" *ngIf="showText7" size="auto" class="label-statut">
              <ion-label>statut</ion-label>
            </ion-col>
            <ion-col *ngIf="showText8" size="auto" class="val-statut">
              <ion-label [ngStyle]="{ color: colorText8 }">{{ text8 }}</ion-label>
            </ion-col>
            <ion-col *ngIf="showCheck1" size="auto" class="val-statut">
              <ion-checkbox checked="true" class="firstCheck"></ion-checkbox>
            </ion-col>
            <ion-col [ngStyle]="{ padding: paddingText9 }" *ngIf="showText9" size="auto" class="val-statut">
              <ion-label>{{ text9 }}</ion-label>
            </ion-col>
            <ion-col (ionChange)="onCheckboxChange($event)" *ngIf="showCheck2" size="auto" class="val-statut">
              <ion-checkbox></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="showAvatar" class="col-avatar" size="2">
        <ion-avatar>
          <img src="../../../assets/vlor.jpg" />
        </ion-avatar>
      </ion-col>
      <ion-col *ngIf="showIcon" class="col-icon" size="1">
        <ion-icon color="danger" name="{{ iconName }}"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
