<!-- bonus page
netflix gratui (ex 2j 3j) a l'inscription debloquer a lapremiere cmmander
netflix grauti (x pour x heure  ) a chaque commande

vendre du credit genre offir du credit a chque cmd (supereiur a (ex 1000f))

reduction (ex 5%) apres (ex 10 cmd)
reduction (ex 20%) apres ( ex 20 cmd)
etc

cmd graduite apres 100 cmd
-->

<ion-content [scrollX]="true" [fullscreen]="true">
  <app-bonus *ngIf="bonusData.getbonus() !== null"></app-bonus>

  <app-cmd-bottom-card></app-cmd-bottom-card>
</ion-content>
