ion-grid {
  width: max-content;
  padding: 0px 3px;
  margin-right: 0;
}

ion-col {
  // padding: 5px 5px 4px 5px;
  padding: 0;
}

ion-icon {
  font-size: 12px;
  font-weight: bold;
}

ion-label {
  font-size: 12px;
  font-weight: bold;
}
